<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aboutapp"></activity>
        <activity android:name=".about" />
        <activity android:name=".result5" />
        <activity android:name=".vote5" />
        <activity android:name=".button5" />
        <activity android:name=".result4" />
        <activity android:name=".vote4" />
        <activity android:name=".button4" />
        <activity android:name=".result3" />
        <activity android:name=".vote3" />
        <activity android:name=".button3" />
        <activity android:name=".result2" />
        <activity android:name=".vote2" />
        <activity android:name=".button2" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>